.navbar-wrapper {
  height: 45px;
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-wrapper > ul {
  list-style-type: none;
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-wrapper > li {
  display: inline;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li a {
  color: #314559;
  text-decoration: none;
}
